* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(76, 156, 85);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(95, 2, 31);
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: overline;
    text-shadow: 2px 2px 3px rgb(119, 1, 38);
    line-height: 1.5;
    border-bottom: thick double rgb(95, 2, 31);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form {
    display: inline-block;
}

input[type="search"] {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    padding: 2px 2px 2px 3px;
    outline: 0;
    background-color: rgb(245, 245, 245);
    transition-duration: 0.4s;
}

input[type="search"]:hover, input[type="search"]:focus {
    background-color: white;
}

button {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    padding: 2px 2px 2px 3px;
    background-color: rgb(95, 2, 31);
    opacity: 0.8;
    transition-duration: 0.4s;
    color: rgb(245, 245, 245);
}

button:hover, button:focus {
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
    cursor:pointer;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    justify-content: space-evenly;
    align-content: center;
}

.column {
    margin: 2% 2%;
    text-align: justify;
}

.column>p:first-of-type{
    padding-top: 5%;
}

.column>a>img:hover {
    transition: transform 0.4s ease-out 0.1s;
    transform: scale(1.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 880px) {
    .row {
        display: grid;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 664px) {
    .row {
        display: grid;
        padding: 10px;
        grid-template-columns: 1fr;
    }
}
