* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(140, 145, 171);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(95, 2, 31);
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: overline;
    text-shadow: 4px 4px 5px red;
    line-height: 1.5;
}

form {
    display: inline-block;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: space-evenly;
}

.column {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    margin: 2% 0;
}

@media screen and (max-width: 880px) {
    .row {
        display: grid;
        padding: 10px;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 664px) {
    .row {
        display: grid;
        padding: 10px;
        grid-template-columns: auto auto;
    }
}